*{
    margin: 0;
padding: 0;
box-sizing: border-box;    
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bac{
   background-image: url(rasm.jpg); 
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   

}
.drop{
    position: relative;
}
.bac::before{
 
    content: "";
    background-color: rgba(13, 20, 26, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
header nav ul li{
    padding-top: 40px;

    list-style: none;
    margin: 12px;
    font-size: 18px;
    color: white;
}
header nav ul li:first-child{
    margin-right: 200px;
    font-size: 24px;
}
header nav ul li:last-child{
    margin-left: 200px;
}
header nav ul li button{
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 30px;
    background-color: transparent;
}


.one{
    padding-top: 200px;
    margin-left: 400px;
    color: white;
}
.one h1{
    
    margin: 0 0 10px 30px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}
.one h2{
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}
.vid{
    display: flex;
}
.vid button{
    margin-left: 80px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 4px;
    
    color: #fff;
    background: #ff4a17;
    border: 2px solid #ff4a17;
}
.vid .fa-solid{
    margin-left: 30px;
font-size: 35px;
margin-right: 5px;

}
.vid p{
color: white;
font-size: 30px;
}
header nav ul li ul  {
    width: 100px;
    visibility: hidden;
    position: absolute;
    flex-wrap: wrap;
    font-size: 10px;
   background-color:  white;


}
header nav ul li:hover ul li{
display: flex;
justify-content: center;
width: 250px;
color: black;
}
header nav ul li:hover ul{
    visibility: visible;
}
.two{

    height: 570px;
    margin: 70px 40px 0 40px;
    box-shadow: .6px 1px 3px black;
}
.head{
    display: flex;
padding: 50px;
}
.hap{
  padding-left: 60px;
    color: rgb(65, 41, 139);
    display: flex;
    margin-left: 40px;
}
.hap .fa-solid{
    font-size: 35px
}
.hap .div{
    margin-left: 25px;
}
.chec{
  padding: 15px 20px;
    display: flex;
}
.chec .p{
padding-left: 10px;
}
.three{
    background-image: url(https://media-exp1.licdn.com/dms/image/C561BAQGLnB-nyM7nfw/company-background_10000/0/1597782548503?e=2159024400&v=beta&t=bNGC9z4SNANV-kNUB8PZjwuJHpvMVCYtYHu3K6QjWoI); 
    width: 100%;
    background-attachment: fixed;
    height: 70vh;
  
    
 
 }
 .card1{
     position: relative;
 }
 .three::before{
  margin-top: 50px;
     content: "";
     background-color: rgba(13, 20, 26, 0.7);
     position: absolute;
     opacity: .3;
 }
.card{
    display: flex;
    margin-top: 120px;
    padding-right:  60px;
}
.card1{
    background-color: white;
    width: 400px;
    height: 410px;
margin-left: 80px;
position: relative;
}
.card1 img{
width: 100%;

height: 55%;

}
.block .fa-solid{
    margin-top: -70px;
    margin-left: -20px;
position: absolute;
    padding: 5px;
  width: 50px;
  color: white;
  height: 50px;
    font-size: 30px;
    background-color:rgb(238, 102, 10);
    border: 5px solid white;
}
.block{
     text-align: center;
    margin-top: 40px;
}
.block h2{
    text-align: center;
}
.contanier img{
    margin-left: 50px;
    filter: grayscale(100);
    width: 9%;

     transition: 1s ease;
     transform: scale(0.8);
margin-bottom: 50px;
    }
    
    .contanier img:hover{
    transform: scale(1.3);
       
        filter: grayscale(0);
    }
    .contanier{
        border: 1px solid black;
        width: 100%;
        height: 120px;
        padding: 30px 90px;
      
       
    } 
    .four{
        width: 100%;
        height: 500px;
      

    }
    .but{
        display: flex;
        margin: 30px 110px;
    }
    .but .button{
        padding: 10px 7px;
        border: 1px solid rgb(37, 31, 31);
        margin-left: 40px;
        width: 200px;
        height: 70px;
        display: flex;
    }
    .but .button h4{
        margin-left: 10px;
    }
    .but .button  #icon{
        font-size: 40px;
   
    }
   
    .five{
        position: relative;
    }
    .tab1,.tab2, .tab3, .tab4{
     
position: absolute;
margin-top: -400px;
display: flex;
    }
    .tab1,.tab2, .tab3, .tab4 img{
        width: 90%;
        height: 500px;
    }
    .tab2, .tab3, .tab4{
        opacity: 0;
    }
   
    .five ul li{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .text p{
    padding: 40px 0;
    font-size: 20px;
    }
    .text{
        padding: 30px 50px;
    }


.six{
    background-color: #c4d1da;
    margin-top: 100px ;
    width: 100%;
    height: 800px;

}
.six h2{
    padding-top: 70px;
    padding-left: 110px;
    font-size: 14px;
    font-weight: 500;

    line-height: 1px;
    
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif;
    
}
.six h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ff8664;
    margin: 4px 10px;
}
.six .chek{
    padding: 20px 0 0 110px ;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #263d4d
}
.div{

    display: flex;
    margin-left: 30px;
    
  
}
.box{
    margin: 25px 55px;
    display: flex;
    width: 550px;
    height: 150px;
    background-color: rgb(237, 236, 236);
    border-radius: 8px;
    padding: 10px 20px;

}
.matn .matnp{
    font-size: 20px;
    margin-left: 50px;
}
.box .icon{
    font-size: 50px;
    color: #5c8eb0;
} 
.matn h4{
    font-size: 22px;
    padding-bottom: 20px;
    margin-left: 55px;
}



.seven{
   
    margin-top: 80px ;
    width: 100%;
    height: 800px;

}
.seven h2{
    padding-top: 70px;
    padding-left: 110px;
    font-size: 14px;
    font-weight: 500;

    line-height: 1px;
    
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif;
    
}
.seven h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ff8664;
    margin: 4px 10px;
}
.seven .chek{
    padding: 20px 0 0 110px ;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
font-family: "Poppins", sans-serif;
    color: #263d4d
}
.seven .tugma{
    padding: 7px 8px;

    display: flex;
    justify-content: center;

}
.seven .tugma button{
    width: 60px;
    height: 25px;
    font-size: 19px;
    border: none;
    margin-left: 30px;

}

.sevenimg img{
    position: relative;
    width: 380px;
    height: auto;
}
.sevenimg .a{
    margin-left: 80px;
}
.sevenimg .b{
    margin-left: 490px;
    margin-top: -390px;
    position: absolute;
  
}
.sevenimg .d{
    position: absolute;
 margin-top: -390px;
    margin-left: 900px;
}
.sevenimg .g{
     position: absolute;
     margin-top: 20px;
  margin-left: 80px;

}
.sevenimg .f{
     position: absolute;
     margin-top: -100px;
  margin-left: 490px;

}
.sevenimg .e{
        position: absolute;
     margin-top: -140px;
  margin-left: 900px; 
}
.sevenimg .k{
     position: absolute;
     margin-top: 500px;
  margin-left: 490px;

}
.sevenimg .c{
     position: absolute;
     margin-top: 430px;
  margin-left: 900px;

}
.sevenimg .h{
        position: absolute;
     margin-top: 145px;
  margin-left: 900px; 
}

.eig{
    background-color: #c4d1da;
    margin-top: 580px ;
    width: 100%;
    height: 700px;
   

}
.eig h2{
    padding-top: 70px;
    padding-left: 210px;
    font-size: 14px;
    font-weight: 500;

    line-height: 1px;
    
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif;
    
}
.eig h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ff8664;
    margin: 4px 10px;
}
.eig .chek{
    padding: 20px 0 0 210px ;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
font-family: "Poppins", sans-serif;
    color: #263d4d
}
.eig_img{
    align-items: center;
    
    width: 1000px;
    height: 460px;
   display: flex; 
   padding: 30px 20px;


}
.eig_img img{
    margin: 25px 40px;
    width: 100%;
    height: 90%;
}
.eig_img .div .spa{
   
    width: 800px;
    height: 60px;
    background-color: white;
    margin-top: 440px;
    margin-left: -430px;
}
.eig_img .div .spa h4{
    padding: 5px 0 5px 10px;
}
.eig_img .div .spa .ch{
    margin-left: 10px;
    width: 100px;
    height: 1px;

}
.eig_img .div .spa .ab {
    display: flex;
}
.eig_img .div .spa .ab p{
    font-size: 13px;

}
.eig_img .div .spa .ab i{
    color: #5c8eb0;
    margin-left: 3px;
}


.eg{
  
    margin-top: 80px ;
    width: 100%;
    height: 700px;
   

}
.eg h2{
    padding-top: 70px;
    padding-left: 210px;
    font-size: 14px;
    font-weight: 500;

    line-height: 1px;
    
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif;
    
}
.eg h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ff8664;
    margin: 4px 10px;
}
.eg .chek{
    padding: 20px 0 0 210px ;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
font-family: "Poppins", sans-serif;
    color: #263d4d
}


.bosh{
    display: flex;
    padding: 50px 200px;
}
.bosh .bir{
    text-align: center;
    width: 400px;
    height: 250px;
 
    box-shadow: 2px 2px 5px black;
}
.bosh .bir, i, h3, p{
    padding-top: 30px;
    font-size: 18px;

}
.bosh .uch .pas{
    margin-left: -10px;
} 
.bosh .uch .pas .uc,.tort{
    width:190px ;
    height: 150px;
    box-shadow: 2px 2px 5px black;
    margin: 10px 10px;
   text-align: center;



}
.bosh{
    margin-left: 130px;
}
.iki{
    margin-left:30px ;
    width: 400px;
    height: 410px;
    box-shadow: 2px 2px 5px black;
}
.iki .in input{
margin: 20px 8px;

    height: 25px;
    width: 170px;
}
.iki .inp input{
    width: 90%;
    height: 25px;
    margin: 10px 8px;
}
textarea{
    width: 90%;
    height: 40%;
   
}
.iki button{
    margin-top: 25px;
margin-left: 140px;
width: 100px;
height: 35px;
background-color: orange;
border: none;
}





    